// Placeholders
.text-input::-moz-placeholder {
    color: #6D237F;
    text-align: center;
  }
  
  .text-input:-ms-input-placeholder {
    color: #6D237F;
    text-align: center;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #6D237F;
    text-align: center;
  }

  //Imagen Backgrund
.imgBackground{  
    background-image: url(http://subirimagen.me/uploads/20180607082454.png);
    background-repeat: initial;   
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

//Centrar Componentes
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

//Estilo Ion-Label's
.ionLabelStyle
{
    color: #6D237F;
    font-weight: bold;
}

//Contenido de imagen
.contentImage{
    width: 100%;

    img{
        width: 100%;
        height: 100%;
        }
    }
.btnStyle{
    background: white;
    color: #6D237F;
    font-weight: bold;
    width: 50%;
    font-size: 16px;
}